.RecomBlock {
  background-color: azure;
  border-radius: 3%;
  font-size: 4rem;
  box-shadow: 3px 3px 12px aqua;
  width: 46%;
  margin: 1% 2%;
}
.eesa {
  background-color: azure;
  width: 100%;
  padding: 0;
}
.widgetbrand {
  background-color: azure;
  border: 0px;
}
.card-header {
  padding: 0%;
}
.fs-5 .fw-semibold {
  width: auto;
}
