.matching {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  background-size: cover;
}
.form-check > label {
  font-size: 1.5rem;
}
.form-check-input {
  margin: 0.5em;
}
.left-part {
  border-left: solid;
}
.matching a {
  font-size: 1.6rem;
}
.matching .active.nav-link {
  font-weight: bold;
  border-top: solid 0.5rem;
  border-top-color: rgb(124, 155, 240) !important;
}
.matching .nav-link:hover {
  border-color: white;
}
.matching .result-block {
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  box-sizing: border-box;
  background-size: cover;
  font-size: 1.1rem;
}
.aboard-experience button {
  font-size: 1.3rem;
  margin: 2rem 0;
}
.matching-upload .files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.matching-upload .files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.matching-upload .files {
  position: relative;
}
.matching-upload .files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: '';
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.matching-upload .color input {
  background-color: #f1f1f1;
}
.matching-upload .files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: ' or drag it here. ';
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
